html,
body {
  overflow-x: hidden;
}

body {
  background-color: #1c1c1c;
  color: white;
  font-family: "Noto sans", serif;
}

#root {
  width: 100%;
}

.favorite-button {
  background-color: transparent;
  border: none;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  scale: 1.5;
}

main {
  display: none;
}
