.category {
  margin: auto 5vw;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.category-button {
  display: flex;
  justify-content: space-between;
}

.category-button button {
  background: transparent;
  border: none;
  // border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.category-button button:hover {
  color: yellow;
}

.category-button button.active {
  color: yellow;
}

@media (min-width: 37.5rem) {
  .category {
    position: relative;
    z-index: 1;
  }
  .category-button {
    justify-content: flex-start;
    gap: 1rem;
  }
}

@media (min-width: 80rem) {
  .category-button button:hover {
    scale: 1.2;
  }
}
