.movie-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  margin: auto 5vw;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width: 50rem) {
  .movie-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 80em) {
  .movie-wrapper {
    margin-top: 3.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 120rem) {
  .movie-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
