.about {
  margin: 10vh 5vw 0;
  min-height: calc(90vh - 6.8rem);
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about .about-title {
  margin-top: 0;
}

.tmdb-disclaimer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.home-button {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.home-button a {
  text-decoration: none;
  padding: 0.625rem;
  border: 1px solid yellow;
  border-radius: 1.25rem;
}

.home-button a:hover {
  background-color: yellow;
  border: 1px solid #1c1c1c;
  color: black;
  scale: unset;
}

.tmdb-logo {
  max-height: 3.125rem;
  width: auto;
}

.about-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.about-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1c1c1c;
  background: linear-gradient(
    0deg,
    rgba(28, 28, 28, 1) 0%,
    rgba(28, 28, 28, 0.5) 50%,
    rgba(28, 28, 28, 0) 100%
  );
}

.about-backdrop-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1c1c1c;
  opacity: 0.9;
}

.popcorn {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-background {
  display: none;
}

.about-background-image {
  max-height: 100vh;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width: 31.25em) {
  .popcorn {
    min-width: 100vw;
    height: auto;
  }
}

@media (min-width: 50em) {
  .tmdb-disclaimer {
    flex-direction: row;
    gap: 1rem;
  }

  .about-image {
    position: relative;
    height: auto;
    min-width: 30vw;
    max-height: 100vh;
    z-index: 0;
  }

  .about-backdrop-overlay,
  .about-image-overlay {
    display: none;
  }

  .popcorn {
    min-width: unset;
    width: 100%;
  }

  .about-banner {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .about-background {
    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    max-height: 100vh;
  }

  .about-background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1c1c1c;
    background: linear-gradient(
      0deg,
      rgba(28, 28, 28, 1) 0%,
      rgba(28, 28, 28, 0.5) 50%,
      rgba(28, 28, 28, 0) 100%
    );
  }

  .about-background-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1c1c1c;
    opacity: 0.9;
  }

  .about-background-image {
    width: 100%;
  }
}

@media (min-width: 62.5em) {
  .about-image {
    max-width: 18.75rem;
  }
  .about-image {
    min-width: 20vw;
  }
}

@media (min-width: 80em) {
  .about {
    margin-top: calc(10vh + 1rem);
    min-height: calc(90vh - 7.8rem);
  }
}
