.load-more {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: underline;
  width: 100%;
  margin: auto;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  cursor: pointer;
}

.load-more:hover {
  scale: 1.5;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.back-top {
  z-index: 2;
  cursor: pointer;
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  background: #2e2e2e;
  background: radial-gradient(
    circle,
    rgba(28, 28, 28, 1) 5%,
    rgba(28, 28, 28, 0.5) 35%,
    rgba(28, 28, 28, 0) 65%
  );
  border-radius: 50%;
  border: none;
  padding: 0;
}

.back-top img {
  width: 3.125rem;
  height: 3.125rem;
}

.search-bar {
  position: relative;
  width: calc(90vw - 0.625rem);
  margin: 1rem 5vw;
  padding: 0.625rem 0.3125rem;
  border: 0.125rem yellow solid;
  border-radius: 0.3125rem;
  background-color: #1c1c1c;
  color: white;
  outline: none;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@media (min-width: 37.5rem) {
  .search-bar {
    width: 40%;
  }
}

@media (min-width: 50rem) {
  .back-top {
    background: radial-gradient(
      circle,
      rgba(28, 28, 28, 1) 5%,
      rgba(28, 28, 28, 0.5) 35%,
      rgba(28, 28, 28, 0) 65%
    );
    border-radius: 50%;
    border: none;
  }

  .back-top img {
    width: 6.25rem;
    height: auto;
  }
}
